/* Home.module.css */
.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.home h2 {
    padding-block: 30px;
    display: flex;
    flex-direction: column;
    font-size: 36px;
}

.home h2 img {
    margin: 30px;
    width: 150px;
    height: 170px;
}


@media (max-width: 768px) {
    .home h2 img{
        max-width: 50px;
        max-height: 50px;
    }
    .home {
        display: flex;
        flex-direction: column;
    }
    .home h2{
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    
}