.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.container h3 {
    padding-block: 50px;
    font-size: 24px;
    text-align: center;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1150px;
    margin: 20px 0;
}

.left h1, .right h1 {
    font-size: 28px;
}

.left span, .right span {
    font-size: 20px;
    color: #828282;
    margin-bottom: 10px;
}

.left p, .right p {
    font-size: 16px;
    line-height: 1.6;
}

.left {
    align-items: flex-start;
}

.right {
    align-items: flex-end;
}

@media (max-width: 768px) {


    .container footer{
        width: 450px;
        height: 100%;
    }
    .left, .right {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .left h1, .right h1 {
        font-size: 24px;
    }

    .left span, .right span {
        font-size: 18px;
    }

    .left p, .right p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container h3 {
        font-size: 20px;
    }

    .left h1, .right h1 {
        font-size: 20px;
    }

    .left span, .right span {
        font-size: 16px;
    }

    .left p, .right p {
        font-size: 12px;
    }
}
